[submodule "drishti-upload"]
    path = drishti-upload
    url = https://github.com/elucideye/drishti-upload
[submodule "src/3rdparty/imshow"]
    path = src/3rdparty/imshow
    url = https://github.com/hunter-packages/imshow.git
